In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost',27017)

In [3]:
client.list_database_names()

['Telephone_DB', 'admin', 'config', 'local', 'mydatabase']

In [4]:
# Create a Telephone Directory Database
db = client.Telephone_DB

In [5]:
# Create a Telephone Collection
col_telephone = db.col_telephone

In [6]:
# insert_one record to the database
col_telephone.insert_one({"name": "person_1", "Phone": 9039193139, "Place": "CBE"})

In [7]:
for documents in col_telephone.find():
    print(documents)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63de06f689527078e3632594'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63de06f689527078e3632595'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63de06f689527078e3632596'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63de06f689527078e3632597'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63de06f689527078e3632598'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}
{'_id': ObjectId('63de06f789527078e3632599'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'Place': 'CBE'}

In [8]:
# insert multiple records to the database
#creating name,phone_number,place 
telephone_list = [
    {"name":"aimee Zank","phone":"3216549870","place":"chennai"},
    {"name":"Aurelia Menendez","phone":"9876543210","place":"trichy"},
    {"name":"Corliss Zuk","phone":"3692581470","place":"madurai"},
    {"name":"Bao Ziglar","phone":"1472583690","place":"bangalore"},
    {"name":"Zachary Langlais","phone":"9516328740","place":"villupuram"}
]

#Insert the record into the collection
col_telephone.insert_many(telephone_list)

#Make a query to find records you just created
for document in col_telephone.find():
    print(document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63de06f689527078e3632594'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63de06f689527078e3632595'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63de06f689527078e3632596'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63de06f689527078e3632597'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63de06f689527078e3632598'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}
{'_id': ObjectId('63de06f789527078e3632599'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'Place': 'CBE'}
{'_id': ObjectId('63eb1fdcdb776126bd656616'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656617'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63eb1fdcdb776126bd656618'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63eb1fdcdb776126bd656619'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63eb1fdcdb776126bd65661a'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}

In [9]:
#Make a query to find one record you just created
person_1_filter = { "name" : "person_1" }
for document in col_telephone.find(person_1_filter):
    print(document)

# Query using Place
for document in col_telephone.find({"Place": "CBE"}):
    print(document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'Place': 'CBE'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'Place': 'CBE'}

In [10]:
# Updating Place from CBE to coimbatore
filter = { "Place": "CBE" }
 
# Values to be updated.
newvalues = { "$set": { "Place" : "coimbatore" } }
 
# Using update_one() method for single updation.
col_telephone.update_one(filter, newvalues)

In [11]:
#Make a query to find one record you just created
for document in col_telephone.find({"name": "person_1"}):
    print(document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'Place': 'coimbatore'}

In [12]:
# Find places with chennai
filter = { "place": "chennai" }
 
for document in col_telephone.find(filter):
    print (document)

{'_id': ObjectId('63de06f689527078e3632594'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63de06f789527078e3632599'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656616'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}

In [13]:
# print entire collections
for document in col_telephone.find():
    print (document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63de06f689527078e3632594'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63de06f689527078e3632595'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63de06f689527078e3632596'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63de06f689527078e3632597'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63de06f689527078e3632598'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}
{'_id': ObjectId('63de06f789527078e3632599'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'Place': 'coimbatore'}
{'_id': ObjectId('63eb1fdcdb776126bd656616'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656617'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63eb1fdcdb776126bd656618'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63eb1fdcdb776126bd656619'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63eb1fdcdb776126bd65661a'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}

In [14]:
# Updating Place to place using "rename" operation
query = {"Place": {"$exists": True}}

# Specify the new key name
new_key = {"$rename": {"Place": "place"}}

# Update the document
col_telephone.update_many(query, new_key)

# Verify the update
updated_document = col_telephone.find_one({"place": {"$exists": True}})
print(updated_document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}

In [15]:
for document in col_telephone.find():
    print (document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63de06f689527078e3632594'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63de06f689527078e3632595'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63de06f689527078e3632596'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63de06f689527078e3632597'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63de06f689527078e3632598'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}
{'_id': ObjectId('63de06f789527078e3632599'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63eb1fdcdb776126bd656616'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656617'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63eb1fdcdb776126bd656618'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63eb1fdcdb776126bd656619'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63eb1fdcdb776126bd65661a'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}

In [16]:
# insert_one record to the database
person_2_filter = { "name" : "person_2" }
col_telephone.insert_one({"name": "person_2", "Phone": 9039193139, "place": "chennai"})

In [17]:
for document in col_telephone.find(person_2_filter):
    print (document)

{'_id': ObjectId('63de06f789527078e3632599'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd65661b'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}

In [18]:
for document in col_telephone.find(person_1_filter):
    print (document)
for document in col_telephone.find(person_2_filter):
    print (document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63de06f789527078e3632599'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd65661b'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}

In [19]:
coimbatore_filter = { "place" : "coimbatore" }
for document in col_telephone.find(coimbatore_filter):
    print (document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}

In [20]:
for document in col_telephone.find({}):
    print (document)

{'_id': ObjectId('63de06f689527078e3632593'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63de06f689527078e3632594'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63de06f689527078e3632595'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63de06f689527078e3632596'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63de06f689527078e3632597'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63de06f689527078e3632598'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}
{'_id': ObjectId('63de06f789527078e3632599'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656615'), 'name': 'person_1', 'Phone': 9039193139, 'place': 'coimbatore'}
{'_id': ObjectId('63eb1fdcdb776126bd656616'), 'name': 'aimee Zank', 'phone': '3216549870', 'place': 'chennai'}
{'_id': ObjectId('63eb1fdcdb776126bd656617'), 'name': 'Aurelia Menendez', 'phone': '9876543210', 'place': 'trichy'}
{'_id': ObjectId('63eb1fdcdb776126bd656618'), 'name': 'Corliss Zuk', 'phone': '3692581470', 'place': 'madurai'}
{'_id': ObjectId('63eb1fdcdb776126bd656619'), 'name': 'Bao Ziglar', 'phone': '1472583690', 'place': 'bangalore'}
{'_id': ObjectId('63eb1fdcdb776126bd65661a'), 'name': 'Zachary Langlais', 'phone': '9516328740', 'place': 'villupuram'}
{'_id': ObjectId('63eb1fdcdb776126bd65661b'), 'name': 'person_2', 'Phone': 9039193139, 'place': 'chennai'}